/*font-family: 'Shadows Into Light', cursive;
 font-family: 'Indie Flower', cursive;
*/

#contenidos
{
	width: 1000px;
	height: auto;
	margin: auto;
	position: relative;
	

}


/*ETIQUETAS*/
body
{
background-image: url(../img/fondo.jpg);
background-repeat: no-repeat;
background-size: cover;
}

h1
{
font-family: 'Shadows Into Light', cursive;
color: black;
margin-left: 10px;
font-size: 80px;
text-align: center; 
}

h2
{
font-family: 'Indie Flower', cursive;
color: black;
margin-left: 10px;
font-size: 40px;
text-align: center; 
}

h3
{
font-family: 'Shadows Into Light', cursive;;
color: white;
font-size: 30px;
text-align: center; 
}


header
{
	
	width: 1000px;
	height: 120 px;
	background: rgba(255, 255, 255, 10,70);
}

nav
{
width: 1000px;
height: 50px;
background: purple;
border-radius: 10px;

}

ul
{
margin: auto;
padding-top: 4px;

}

li
{
	float: left;
	list-style-type: none;
	padding: 10px;
	background: white;
	margin: 3px;
	border-radius: 10px;
	box-shadow: 0 0 10px black inset; 

}

section 
{
	width: 700px;
	background: pink;
	height: 600px;
	float: left;
	margin-top: 20px;
	border-radius: 10px;
}


.contact_form h2 {
    background: none repeat scroll 0 0 #F3F3F3;
    border-radius: 5px;
    color: #5CD053;
    display: block;
    font-family: sans-serif;
    font-size: 20px;
    padding: 5px;
    text-shadow: 1px 1px 1px #CCCCCC;
    width: 433px;
}
/*--- estilos para los ul y li del formulario ---*/
.contact_form ul {
    width:730px;
    list-style-type:none;
	margin:0px;
	padding:0px;
}
.contact_form li{
	padding:12px; 
	border-bottom:1px solid #eee;
	position:relative;
} 
.contact_form label {
    color: #555555;
    display: inline-block;
    float: left;
    font-family: sans-serif;
    font-size: 13px;
    font-weight: bold;
    margin-top: 3px;
    padding: 3px;
    width: 90px;
}
.contact_form input {
	height:20px; 
	width:220px; 
	padding:5px 8px;
}
.contact_form textarea {
	padding:8px; 
	width:300px;
}
.contact_form button {
	margin-left:90px;
}
footer
{
width: 1000px;
height: 70px;
background: purple;
float: left;
margin-top: 20px;
border-radius: 10px;
margin-bottom: 20px;
}

/* === Estilos del boton de Envio === */
button.submit {
    padding: 9px 17px;
   font-family: Helvetica, Arial, sans-serif;
   font-weight: bold;
   line-height: 1;
   color: #444;
   border: none;
   text-shadow: 0 1px 1px rgba(255, 255, 255, 0.85);
   background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#bbb));
   background-image: -moz-linear-gradient(0% 100% 90deg, #BBBBBB, #FFFFFF);
   background-color: #fff;
   border: 1px solid #f1f1f1;
   border-radius: 10px;
   box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}
button.submit:hover {
	opacity:.55;
	cursor: pointer; 
	color: #fff;
}
button.submit:active {
	border: 1px solid #222;
	box-shadow: 0 0 10px 5px #444 inset; 
}

aside
{

	width: 280px;
	background: purple;
	height: 600px;
	float: left;
	margin-left: 20px;
	margin-top: 20px;
	border-radius: 10px;
}

footer
{
width: 1000px;
height: 70px;
background: purple;
float: left;
margin-top: 20px;
border-radius: 10px;
margin-bottom: 20px;
}

p
{

	font-size: 15px;
	font-weight: bolder;
	line-height: 24px;
	padding: 10px;
	text-align: justify;
}




/*CLASES*/

.ancho_menu_home{width: 900px;}
.ancho_menu_paginas{width: 970px;}

.menu:link{color: black; text-decoration: none;}
.menu:visited{color: black; text-decoration: none;}
.menu:hover{color: black; text-decoration: none; text-shadow: 0 0 13px black;}
.menu:active{color: black; text-decoration: none;}

/*SEUDO CLASES*/

















